<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.gamso.repository.UserRepository">
    <select id="findAllShortenUrl" resultType="kr.gamso.dto.ShortenUrlDTO">
        SELECT
            original_url as #{originalUrl},
            shorten_url as #{shortenUrl}
        FROM
            url
    </select>

    <insert id="saveUrl" parameterType="kr.gamso.dto.ShortenUrlDTO">
        INSERT INTO url
                (original_url, shorten_url)
                VALUES
                (#{originalUrl}, #{shortenUrl})
    </insert>

</mapper>